.red {
    color: red;
}   
.blue {
    color: blue;
}
.green {
    color: green;
}

.red,
.green,
.blue {
    font-size: 24px;
}

.head {
    font-size: 36px;
    text-decoration: underline;
    display: flex;
    justify-content: center;
}

div {
    display: flex;
    justify-content: center;
    justify-content: space-around;
}